<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>
    <button type="button" onclick="Swal.fire('Selamat Datang')">Login</button>
    <button type="button" id="btn">Login</button>

    <script src="dist/sweetalert2.all.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.min.css">

    <script>
        const btn = document.getElementById('btn');
        btn.addEventListener('click', function(){
            Swal.fire({
                title:'Selamat Datang',
                text:"Ada berhasil Login",
                icon: 'Succes',
                })
        })
    </script>
</body>
</html>
