{% extends 'base.html' %}

{% block content %}
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {% for field in form %}
    <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
    <p style="color: red">{{ error }}</p>
    {% endfor %}
    </p>
    {% endfor %}
    <button type="submit" id="btn" onclick="Swal.fire('Selamat Datang')" value="login" class="btn btn-success">Sign
        up</button>
</form>

<script src="dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.0/dist/sweetalert2.all.min.js"></script>


<script>
    const btn = document.getElementById('btn');
    btn.addEventListener('click', function () {
        Swal.fire({
            title: 'Selamat Datang',
            text: "Anda Telah Membuat Akun Minotour",
            icon: 'success',
        })
    })
</script>
{% endblock %}