<!doctype html>
<html lang="id">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  {% load static %}
  <title>Bandung</title>
</head>

<body>
  <h1 class="text-center pt-3">PAKET STUDY TOUR </h1>
  <section id="project">
    <div class="container text-white">
      <div class="row text-center">
        <div class="col">
          <h2>Projects</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/iptek.jpg' %}" class="card-img-top " alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket A</h3>
              <h5>Bandung (1 hari) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan 1x</li>
                <li>Tempat Wisata<br>
                  - Puspa Iptek <br>
                  - Museum Geologi/KAA <br>
                  - Kebun Binatang
                </li>
                <li>Pemberangkatan pagi</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/kaa.jpg' %}" class="card-img-top" alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket B</h3>
              <h5>Bandung (1 hari) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan 2x</li>
                <li>Tempat Wisata<br>
                  - Museum Geologi/KAA<br>
                  - Saung Angklung Udjo<br>
                  - Cibaduyut/Cihamplas
                </li>
                <li>Pemberangkatan pagi</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/itb1.jpg' %}" class="card-img-top" alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket C</h3>
              <h5>Bandung (1 hari) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan 3x</li>
                <li>Tempat Wisata<br>
                  - Kunjungan Universitas<br>
                  - Museum Gedung Sate<br>
                  - Floating Market/Dusun Bambu
                </li>
                <li>Pemberangkatan pagi</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <br><br><br>
  </section>
  <h1 class="text-center pt-5">PAKET PERPISAHAN LAINNYA </h1>
  <section id="project">
    <div class="container text-white">
      <div class="row text-center">
        <div class="col">
          <h2>Projects</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/float.jpg' %}" class="card-img-top" alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket A</h3>
              <h5>Wisata Bandung (2 hari 1 Malam) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan 3x</li>
                <li>Hotel 1 Malam</li>
                <li>Tempat Wisata<br>
                  - Ciater <br>
                  - Tangkuban parahu <br>
                  - Floating Market, DLL
                </li>
                <li>Pemberangkatan pagi</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/stuptnggang.jpg' %}" class="card-img-top" alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket B</h3>
              <h5>Wisata Ciwidey (2 hari 1 Malam) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan 3x</li>
                <li>Hotel 1 Malam</li>
                <li>Tempat Wisata<br>
                  - Kawah Putih<br>
                  - Situ Patenggang<br>
                  - Pemandian Ciwalini
                </li>
                <li>Pemberangkatan pagi</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
            <img src="{% static 'images/farm.jpg' %}" class="card-img-top" alt="Yori">
            <div class="card-body">
              <h3 class="card-title text-center">Paket C</h3>
              <h5>The Great ASIA AFRIKA & FARM HOUSE (1 hari) </h5>
              <p class="card-text">
              <ol>
                <li>Bus seat 59</li>
                <li>Makan siang 1x</li>
                <li>Tempat Wisata<br>
                  - Asia Afrika<br>
                  - Farm House<br>
                </li>
                <li>Pemberangkatan pagi</li>
                <li>Doorprize</li>
              </ol>
              </p>
              <a href="booking.html" class="btn btn-primary">Book Now</a>
            </div>
          </div>
        </div>
        <br><br><br>
  </section>
  <h6 class="mx-5 p-lg-4"> Catatan: <br>
    Paket Bisa di request, dipilih dan di Mix sesuai dengan keinginan</h6>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>